@font-face {
  font-family: BaksoSapi;
  src: url(/src/fonts/BaksoSapi-Regular.otf);
}

@font-face {
  font-family: Bauhaus;
  src: url(/src/fonts/Bauhaus-Regular.ttf);
}

@font-face {
  font-family: Monet;
  src: url(/src/fonts/Monet-Regular.ttf);
}


@font-face {
  font-family: Roboto;
  src: url(/src/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: Vincent;
  src: url(/src/fonts/Vincent-Regular.ttf);
}

body *, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch {
  height: 85vh;
  width: 85vh;

  touch-action: none;
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 2vh;

  font-size: 1.25rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#download {
  user-select: none;

  border: 1px solid black;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;

  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  #sketch {
    height: 95vw;
    width: 95vw;
  }
}